   
   
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Group 1</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Contact Me</h4>
          <div class="ui inverted link list tiny">
            <div class="item">
              <a href="mailto:jaron@tekshepherd.com" class="item"><i class="mail icon"></i>Email</a>
            </div>
            <div class="item">
            <a href="#" class="item"><i class="linkedin icon"></i>Linkedin</a>
            </div>
             <div class="item">
            <a href="#" class="item"><i class="github icon"></i>Github</a>
            </div>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">What is this Blog about?</h4>
          <p>Hey! Welcome to my blog. I'm fairly new to Coding and Web Development, but i'll be chronicling my Journey to learn right here on this blog I made from scratch (relatively... looking at you <a href="https://semantic-ui.com/">Semantic Ui</a>.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui centered big item" id="footerImage"><i class="terminal icon"></i>Jaron's Blog</div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</body>

</html>