<html>
    <head>
        <title>Jaron's Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    </head>
    <body>
        <div class="ui borderless small olive fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="terminal icon"></i>Jaron's Blog</div>
                <a href="/" class="item"> Home</a>
                <a href="/blogs/new" class="item"> New Post</a>
                <a href="/jaron" class="item"> Who is Jaron?</a>
            </div>
        </div>
