i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#footerImage {
    font-size: 1.8em;
}

#delete {
    display: inline;
}

.ui.top.attached.segment {
    margin-bottom: 25px;
}

#header {
    padding-top: 0px;
}
